# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ mongo_base_install }}/log/mongod.log
# Where and how to store data.
storage:
  dbPath: {{ mongo_base_data }}
  journal:
    enabled: true
# engine:
# wiredTiger:
# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo
# network interfaces
net:
   port: {{ mongo_port }}
   bindIp: {{ inventory_hostname }}
